.footer {
  padding: 2rem 1rem;
  text-align: center;
  margin: 0 auto; // Hatalı olan "margin-top: 0 auto;" düzeltildi
  border: 5px solid #6e4c3b;
  border-radius: 1.5rem;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffefb;
  box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.05);
}

.footerContent {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.textSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footerText {
  color: #444;
  font-size: 0.95rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.scrollButton {
  background: none;
  border: none;
  color: #444;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;

  &:hover {
    color: #d2814e;
    transform: translateY(-4px);
  }
}

.footerContentTwo {
  margin-top: 1rem;
  padding-top: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .footerContent {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .textSection {
    align-items: center;
  }

  .footerContentTwo {
    text-align: center;
  }
}